<div class="mapPopup" style="min-width:301px;">
  <div class="headerPopup border">
    <h3><%=data.settlement%></h3>
  </div>
  <div class="contentPopup">
    <%if(data.population && data.population!=''){%>
    <div>
      <h4>Current population</h4>
      <span><%=Utils.formatNumber(data.population)%></span>
      <span></span>
    </div>
    <%}%>
    <%if(data.male && data.male!='' && data.female && data.female!=''){%>
    <div class="rows">
      <div>
        <h4>Males</h4>
        <span><%=Utils.formatNumber(data.male)%></span>
      </div>
      <div>
        <h4>Females</h4>
        <span><%=Utils.formatNumber(data.female)%></span>
      </div>
    </div>
    <%}%>
    <div>
      <h4>Established</h4>
      <%
        var splitted = data.established_yyyy_mm_dd.split('/');
        var date = new Date(splitted[2] + '-' + splitted[1] + '-' + splitted[0]);
      %>
      <span><%=Utils.formatDateShort(date)%></span>
    </div>
  </div>
</div>
