<div class="head">
  <h3>Total incoming</h3>
  <h4>600,000</h4>
</div>
<div class="data">
  <div class="row">
    <div class="cell">
      <h5>FROM SUDAN</h5>
      <span>100,000</span>
    </div>
    <div class="cell">
      <h5>FROM CONGO</h5>
      <span>100,000</span>
    </div>
  </div>
  <div class="row">
    <div class="cell">
      <h5>FROM BURUNDI</h5>
      <span>100,000</span>
    </div>
    <div class="cell">
      <h5>FROM SRC</h5>
      <span>100,000</span>
    </div>
  </div>

</div>
