<div class="mapPopup" style="min-width:301px;">
  <div class="headerPopup border">
    <h3><%=data.settlement%></h3>
  </div>
  <div class="contentPopup">
    <%if(data.established_yyyy_mm_dd){%>
      <div>
        <h4>Established</h4>
        <%
          var splitted = data.established_yyyy_mm_dd.split('/');
          var date = new Date(splitted[2] + '-' + splitted[1] + '-' + splitted[0]);
        %>
        <span><%=Utils.formatDateShort(date)%></span>
      </div>
    <%}%>
    <div>
      <div>
        <h4>Type</h4>
        <span><%=data.type%></span>
      </div>
    </div>
  </div>
</div>
