<%
  var sum = 0;
  _.each(rows,function(r){
    sum += r.capacity;
  })
%>
<div class="head reduced">
  <h3>Total Refugee Settlements: <%=Utils.formatNumber(rows[0].count)%></h3>
</div>
<div class="data">
  <div class="row">
    <div class="cell">
      <h5><%=rows[0].label%></h5>
      <span><%=Utils.formatNumber(rows[0].capacity)%></span>
      <span><%=Utils.formatNumber(rows[0].population)%></span><br>
      <span class="orange block"><%=Utils.formatDateShort(rows[0].date)%></span>
      <%//if(rows[0].overcapacity > 0){%>
        <!-- <span class="orange block">+<%=Utils.formatNumber((rows[0].overcapacity/rows[0].capacity) * 100,2)%>%</span> -->
      <%//}else if(rows[0].overcapacity < 0){%>
        <!-- <span class="green"><%=Utils.formatNumber((rows[0].overcapacity/rows[0].capacity) * 100,2)%>%</span> -->
      <%//}%>
    </div>
    <div class="cell">
      <h5><%=rows[1].label%></h5>
      <span><%=Utils.formatNumber(rows[1].capacity)%></span>
      <span><%=Utils.formatNumber(rows[1].population)%></span><br>
      <span class="orange block"><%=Utils.formatDateShort(rows[1].date)%></span>
      <%//if(rows[1].overcapacity > 0){%>
        <!-- <span class="orange block">+<%=Utils.formatNumber((rows[1].overcapacity/rows[1].capacity) * 100,2)%>%</span> -->
      <%//}else if(rows[1].overcapacity < 0){%>
        <!-- <span class="green"><%=Utils.formatNumber((rows[1].overcapacity/rows[1].capacity) * 100,2)%>%</span> -->
      <%//}%>
    </div>
  </div>
  <div class="row">
    <div class="cell">
      <h5><%=rows[2].label%></h5>
      <span><%=Utils.formatNumber(rows[2].capacity)%></span>
      <span><%=Utils.formatNumber(rows[2].population)%></span><br>
      <span class="orange block"><%=Utils.formatDateShort(rows[2].date)%></span>
      <%//if(rows[2].overcapacity > 0){%>
        <!-- <span class="orange block">+<%=Utils.formatNumber((rows[2].overcapacity/rows[2].capacity) * 100,2)%>%</span> -->
      <%//}else if(rows[2].overcapacity < 0){%>
        <!-- <span class="green"><%=Utils.formatNumber((rows[2].overcapacity/rows[2].capacity) * 100,2)%>%</span> -->
      <%//}%>
    </div>
    <div class="cell">
      <h5><%=rows[3].label%></h5>
      <span><%=Utils.formatNumber(rows[3].capacity)%></span>
      <span><%=Utils.formatNumber(rows[3].population)%></span><br>
      <span class="orange block"><%=Utils.formatDateShort(rows[3].date)%></span>
      <%//if(rows[3].overcapacity > 0){%>
        <!-- <span class="orange block">+<%=Utils.formatNumber((rows[3].overcapacity/rows[3].capacity) * 100,2)%>%</span> -->
      <%//}else if(rows[3].overcapacity < 0){%>
        <!-- <span class="green"><%=Utils.formatNumber((rows[3].overcapacity/rows[3].capacity) * 100,2)%>%</span> -->
      <%//}%>
    </div>
  </div>

</div>
