<!-- <%
  var interval = Math.ceil(collection.length/4);
%>

<div class="popup <%=model.popup ? '':'hide'%>">
  <div class="actors">
    <h3>who</h3>
    <p>Presence of actors in each settlement</p>

    <div class="actorsTools">
      <a class="all" href="#">select all</a>
      <a class="clear" href="#">Clear</a>
    </div>
    <div class="actorsGroup">
      <%for(var y=0;y<4; y++){%>
        <div>
          <%for(var i=0;i<interval; i++){
            var pos = i + interval*y;
          %>
            <%if(pos < collection.length ){%>
            <div id="<%=collection[pos].id%>" class="actor flex centerVertical <%=collection[pos].active ? 'active':''%>">
              <span class="ellipsis"><%=collection[pos].id%></span>
            </div>
            <%}%>
          <%}%>
        </div>
      <%}%>
    </div>
    <input class="accept" type="button" value="accept">
    <input class="cancel" type="button" value="cancel">
  </div>
</div>


<h3>Who</h3>
<a class="selectActors" href="#">select actors</a>
<div class="filterGroup actors">
  <p>Selected (<%=_.where(collection, {active: true}).length%>)</p>
  <%_.each(collection,function(c){%>
    <%if(c.active){%>
      <span class="ellipsis"><%=c.id%></span>
    <%}%>
  <%})%>
</div> -->
