<table style="table-layout: fixed;">
  <thead>
    <tr>
      <td>ACTORS</td>
      <td>SECTORS</td>
      <td>SETTLEMENTS</td>
      <td>DISTRICTS</td>
    </tr>
  </thead>
  <tbody>
    <%_.each(data,function(d){%>
      <tr>
        <td class="ellipsis" title="<%=d.actor%>"><%=d.actor%></td>
        <td>
          <%=Utils.formatNumber(d.sectors.length)%>
          <div class="popupTd"><%=d.sectors.toString().replace(/,/g , ", ")%></div>
        </td>
        <td>
          <%=Utils.formatNumber(d.settlements.length)%>
          <div class="popupTd"><%=d.settlements.toString().replace(/,/g , ", ")%></div>
        </td>
        <td>
          <%=Utils.formatNumber(d.districts.length)%>
          <div class="popupTd"><%=d.districts.toString().replace(/,/g , ", ")%></div>
        </td>
      </tr>
    <%})%>
  </tbody>
</table>
