<div class="tabs range">
  <div class="active">Since 1 Jan</div>
  <div>LAST WEEK</div>
</div>
<div class="title">
  <span>>Refugee</span><br>
  <span>>Influx</span><br>
  <span>>Trend</span>
  <h3 class="date"></h3>
</div>
<div id="map">
  <!-- <h5 class="note">Select a settlement to see details</h5> -->
  <!-- <h5 class="note">&nbsp;|&nbsp;<a target="_blank" href="http://www.geogecko.com/">Powered by Geo Gecko</a></h5> -->
  <!-- <a href="#" class="info"></a> -->
</div>
<div id="dataPanel">
  <div class="splitControl"></div>
</div>
