<%

  var sum = 0,
    totals ={}
  ;
  totals['Burundi'] = '-';
  totals['South Sudan'] = '-';
  totals['Others'] = '-';
  totals['DRC'] = '-';
  totals['Somalia'] = '-';
  _.each(rows,function(r){
    sum += r.total;
    totals[r.source] = Utils.formatNumber(r.total);
  })
%>
<div class="head">
  <h3>Total New Arrivals</h3>
  <h4><%=Utils.formatNumber(sum)%></h4>
</div>
<div class="data">
  <div class="row">
    <div class="cell">
      <h5>SOUTH SUDAN</h5>
      <span class="southSudan"><%=totals['South Sudan']%></span>
    </div>
    <div class="cell">
      <h5>drc</h5>
      <span class="drc"><%=totals['DRC']%></span>
    </div>
    <div class="cell">
      <h5>Burundi</h5>
      <span class="burundi"><%=totals['Burundi']%></span>
    </div>
  </div>
  <div class="row">
    <div class="cell">
      <h5>Somalia</h5>
      <span class="southSudan"><%=totals['Somalia']%></span>
    </div>
    <div class="cell">
      <h5>Others</h5>
      <span class="southSudan"><%=totals['Others']%></span>
    </div>
    <div class="cell"></div>
  </div>

</div>
