.dataPanel{
  flex: 1 1 100%;
  padding: 23px @marginHomeLeft 23px @marginHomeRight;
  display: flex;
  flex-direction: column;
  height: 100%;
  .header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    h4{
      font-size: 14px;
      font-weight: 700;
      span{
        font-weight: 300;
        text-transform: uppercase;
      }
    }
  }
  .content{
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    svg{
      &.active{
        .guide,.popup,.popupText{
          opacity: 1;
        }
      }
      text{
        font-size: 12px;
        fill:@black;
        font-weight: 300;
        &.blue{
          fill:@blue;
        }
        &.bold{
          font-weight: 700;
        }
      }
      .linePath{
        stroke:@orange;
        &.blue{
          stroke:@blue;
        }
      }
      .barPath{
        fill:@orange;
      }
      circle{
        fill:transparent;
        &.active{
          fill: @orange;
          &.blue{
            fill: @blue;
          }
        }
      }
      .grid{
        transform: translateX(20px);
        line{
          stroke: @grey_4;
        }
      }
      .guide,.popup,.popupText{
        opacity: 0;
      }
      .guide{
        stroke: @black;
      }
      .guideTime{
        stroke: @grey_2;
      }
      .popup,.popupText{
        pointer-events: none;
      }
      .popup{
        fill: @black;
      }
      .popupText{
        fill:@white;
  		  font-size: 12px;
        font-weight: 300;
        .first{
          font-weight: 700;
        }
      }
    }
    .tableData{
      flex: 1 1 0px;
      margin-top: 25px;
      overflow-y: auto;
      .donwloadCsv{
        float: right;
        color:@orange;
        font-size: 14px;
        position: absolute;
        right: 179px;
        top:30px;
        &:before{
          content: '';
          display: inline-block;
          width: 14px;
          height: 14px;
          background-image: url('/img/SGV_arrow-orange.svg');
          transform: rotate(-90deg);
          position: relative;
          top: 3px;
          margin-right: 5px;
        }
      }
      table{
        width: 100%;
        font-size: 14px;
        tr{
          height: 30px;
          td{
            vertical-align: middle;
            padding-left: 5px;
            &:last-child{
              border: none;
            }
          }
        }
        thead{
          tr{
            background-color: @grey_4;
            border-bottom: 1px solid @grey_5;
            border-top: 1px solid @grey_5;
            td{
              text-transform: uppercase;
              border-right: 1px solid @grey_5;
            }
          }
        }
        tbody{
          tr{
            border-bottom: 1px solid @grey;
            td{
              border-right: 1px solid @grey;
            }
          }
        }
      }
    }
  }
}
