.summary{
  min-width: 310px;
  background-color: rgba(255, 255, 255, .8);
  &.width340{
    min-width: 340px;
  }
  &.width400{
    min-width: 400px;
  }
  .head,.data{
    padding-left: 16px;
  }
  .head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
  	border-bottom: 1px solid @grey;
    h3{
      font-size: 18px;
      font-weight: 700;
      line-height: 21px;
    }
    h4{
      font-size: 24px;
      font-weight: 300;
      line-height: 28px;
    }
  }
  .data{
    margin: 12px 0;
    .row{
      display: flex;
      +.row{
        margin-top: 16px;
      }
      .cell{
        flex: 1 1 100%;
        h5{
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 300;
          line-height: 16px;
          color: @grey_2;
          white-space: nowrap;
        }
        span{
          font-size: 18px;
          font-weight: 300;
          line-height: 21px;
          &.orange,&.green{
            font-size: 14px;
          }
          &.block{
            display: block;
            font-size: 12px;
          }
        }
      }
    }
  }
}
